<div class="wrapper style1">
	<div class="content">
		<h2>{{post.title}}</h2>

		<p class="meta clearfix">
			<span class="pull-left">By <a href="posts/byauthor/{{post.author_id}}" title="All posts by {{post.first_name}} {{post.last_name}}">{{post.first_name}} {{post.last_name}}</a></span>

			<span class="pull-right">Published on {{post.created_at  | dateParse | date : "MMMM dd y"}} in <a href="categories/posts/{{post.cat_id}}" title="All posts in {{post.category_name}}">{{post.category_name}}</a></span>
		</p>

		<div class="image fit">
			<img ng-src="api/assets/img/posts/{{post.post_image}}" alt="{{post.title}}">
		</div>

		<div class="post-content" ng-bind-html="post.content"></div>

		<div class="comments-form" ng-controller="PostCommentController">
			<h3>Leave a comment</h3>

			<form id="comment_form">
				<div class="row uniform">
					<div class="6u 12u$(xsmall)">
						<input type="text" name="name" id="name" ng-model="newComment.name" placeholder="Name" required />
					</div>
					<div class="6u$ 12u$(xsmall)">
						<input type="email" name="email" id="email" ng-model="newComment.email" placeholder="Email" required />
					</div>
					<div class="12u$">
						<textarea name="message" rows="6" id="message" ng-model="newComment.comment" placeholder="Comemnt" required></textarea>
					</div>
					<!-- Break -->
					<div class="12u$">
						<input type="submit" value="Add comment" ng-click="createComment()" class="button special fit" />
					</div>
				</div>
			</form>
		</div>

		<div ng-if="comments.length > 0" class="comments">
			<h3>Comments</h3>
			<div ng-repeat="comment in comments" class="comment">
				<h4>On {{comment.created_at  | dateParse | date : "MMMM dd y"}}, {{comment.name}} wrote:</h4>
				<p>{{comment.comment}}</p>
			</div>
		</div>

	</div>
</div>